<article class="post">
    <header>
        <h2 class="post__title">
            Lorem ipsum dolor sit amet.
        </h2>
    </header>
    <div class="post__body">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint hic corrupti veritatis ratione est sequi aut tenetur! Deleniti expedita est quaerat sapiente cum assumenda. Cumque consequuntur quibusdam placeat pariatur ipsam ut assumenda iusto, molestiae labore animi fugit earum ullam repellat, autem, quasi fuga libero exercitationem hic. Veniam illo earum velit?
    </div>
</article>